In [7]:
d = {"name": "혼자 공부하는 데이터 분석"}

In [8]:
print(d['name'])

혼자 공부하는 데이터 분석

In [9]:
import json

In [10]:
d_str = json.dumps(d, ensure_ascii=False)

In [11]:
print(d_str)

{"name": "혼자 공부하는 데이터 분석"}

In [14]:
print(type(d_str))

<class 'str'>

In [20]:
d_str['name']

TypeError: string indices must be integers

In [16]:
d2 = json.loads(d_str)

In [17]:
print(d2)

{'name': '혼자 공부하는 데이터 분석'}

In [18]:
type(d2)

dict

In [19]:
d2['name']

'혼자 공부하는 데이터 분석'

In [21]:
d3 = json.loads('{"name": "혼자하는 공부","author": "박해선","year": 2022}')

In [22]:
print(d3)

{'name': '혼자하는 공부', 'author': '박해선', 'year': 2022}

In [23]:
print(d3["name"])
print(d3["author"])
print(d3["year"])

혼자하는 공부
박해선
2022

In [24]:
d3 = json.loads('{"name": "혼자하는 공부","author": ["박해선","홍길동"],"year": 2022}')

In [25]:
print(d3["author"])

['박해선', '홍길동']

In [26]:
print(d3["author"][1])

홍길동

In [28]:
d4_str = """
[ 
{"name" : "혼자하는 공부1", "author":"박해선", "year":2022},
{"name" : "혼자하는 공부2", "author":"박해선2", "year":2023}
]
"""

In [29]:
d4 = json.loads(d4_str)

In [31]:
print(d4[0]["name"])

혼자하는 공부1

In [32]:
import pandas as pd

In [33]:
pd.read_json(d4_str)

       name author  year
0  혼자하는 공부1    박해선  2022
1  혼자하는 공부2   박해선2  2023

In [35]:
pd.DataFrame(d4)

       name author  year
0  혼자하는 공부1    박해선  2022
1  혼자하는 공부2   박해선2  2023

In [36]:
x_str = """
<book>
    <name> 혼자하는 공부 데이터 분석</name>
    <author> 박해선 </author>
    <year> 2022 </year>
</book>
"""

In [38]:
import xml.etree.ElementTree as et
book = et.fromstring(x_str)

In [39]:
print(type(book))

<class 'xml.etree.ElementTree.Element'>

In [40]:
print(book.tag)

book

In [41]:
book_childs = list(book)

In [42]:
print(book_childs)

[<Element 'name' at 0x1386e49a0>, <Element 'author' at 0x1386e4a40>, <Element 'year' at 0x1386e4a90>]

In [43]:
name,author,year = book_childs

In [44]:
name.text

' 혼자하는 공부 데이터 분석'

In [45]:
author.text

' 박해선 '

In [46]:
year.text

' 2022 '

In [47]:
name = book.findtext('name')

In [48]:
print(name)

 혼자하는 공부 데이터 분석

In [50]:
x_str2 = """
<books>
    <book>
        <name> 혼자하는 공부 데이터 분석</name>
        <author> 박해선 </author>
        <year> 2022 </year>
    </book>
    <book>
        <name> 혼자하는 공부 데이터 분석2</name>
        <author> 박해선2 </author>
        <year> 2023 </year>
    </book>

</books>
"""

In [51]:
books = et.fromstring(x_str2)

In [52]:
print(books.tag)

books

In [53]:
for book in books.findall('book'):
    name = book.findtext("name")
    author = book.findtext("author")
    year = book.findtext("year")
    print(name)
    print(author)
    print(year)
    print()

 혼자하는 공부 데이터 분석
 박해선
 2022

 혼자하는 공부 데이터 분석2
 박해선2
 2023

In [54]:
import xml.etree.ElementTree as et

In [55]:
station_xml = """
<msgBody>
    <busStationList>
        <centerYn>N</centerYn>
        <districtCd>1</districtCd>
        <mobileNo> 22260</mobileNo>
        <regionName>서울</regionName>
        <stationId>121000184</stationId>
        <stationName>성뒤마을.교육연수원</stationName>
        <x>126.9970667</x>
        <y>37.4733833</y>
    </busStationList>
</msgBody>
"""

In [59]:
bus_stations = et.fromstring(station_xml)

In [62]:
print(bus_stations.tag)

msgBody

In [64]:
for station in bus_stations.findall("busStationList"):
    mobileNo = station.findtext("mobileNo")
    stationId = station.findtext("stationId")
    stationName = station.findtext("stationName")
    station_data = {"stationId" : stationId,"stationName": stationName }
    
print(station_data)

{'stationId': '121000184', 'stationName': '성뒤마을.교육연수원'}